<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
      <title>Create Peer Assessment</title>
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">

</head>

<body>
    <div class="flex-container">
        <nav>
            <a href="{% url 'home' %}">Go Back </a>
        </nav>
        <br>
    </div>

  <h1>Create a Peer Assessment</h1>
      <form action="" method="POST">{% csrf_token %}
      <p>Peer Assessment Name</p>{{ form.name }}
      <p>Course</p>{{ form.cid }}
      <p>Start Date</p>{{ form.startDate }}
      <p>End Date</p>{{ form.endDate }}
      <br>
      <input type="submit" value="Save" />
      
</body>
{% endblock %}