<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
      <title>Create Peer Assessment</title>
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">

</head>

<body>
    <div class="flex-container">
        <nav>
            <a href="{% url 'home' %}">Go Back </a>
        </nav>
        <br>
    </div>

  <h1>Create a Peer Assessment</h1>
      <form action="{% url 'enterQuestions' %}" method="post">{% csrf_token %}
      <p>Peer Assessment Name</p><input type="text" id="name" name="name">
      <p>CourseI ID</p><input type="text" id="cid" name="cid">
      <p>Start Date</p><input type="date" id="start" name="startdate" min="2020-01-01" max="2030-12-31">
      <p>End Date</p><input type="date" id="start" name="enddate" min="2020-01-01" max="2030-12-31">
      <p>How Many Questions Would You Like To Enter?</p><input type="number" id="number" name="number" value="">
      <input type="submit" value="Submit" />
      
</body>
{% endblock %}