<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
      <title>Enter Questions</title>
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">

</head>

<body>
    <div class="flex-container">
        <nav>
            <a href="{% url 'createassessment' %}">Go Back </a>
        </nav>
        <br>
    </div>

    <table style="table-layout: fixed; width: 500px">
        <colgroup>
        <col style="width: 97px">
        <col style="width: 135px">
        </colgroup>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
        </tr>
        {% for quest in loopc %}
        <tr>
            <td>{{ quest }}</td>
            <td><input type="text" id="question" name="question" value=""></td>
        </tr>
        {% endfor %} 
    </table>
    <input type="submit" value="Submit" />
</body>
{% endblock %}