
<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_teacher %}
  <!-- Hi {{ user.username }}! -->
  <head>
    <meta charset="utf-8">
    <title>Welcome, Professor {{ object.lname }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">
  </head>
  
  <body>
      <div class="flex-container">
          <nav style="text-align: right;">
            <a href="{% url 'logout' %}">logout</a>
            <br>
            <a href="{% url 'password_reset' %}">reset password</a>
          </nav>
          <br>
      </div>
  
      <div>
          <center><h1>Welcome, Professor {{ object.lname }} </h1></center><br>
      </div>
  
      <div>
          <center><h4>Your Courses</h4></center>
            <center><div style="width:350px;height:125px;line-height:1em;overflow:auto;padding:5px;border:4px double;font-size:large;border-color: #9b4dca;">
            <ul style="list-style-type: none;">
              <li></li>
              {% for course in object.mycourses.all %}
              <li>{{ course }}</li>
              {% endfor %}
          </ul></center>
          <br><br>
      </div>

      <center><div>
        <br>
        <h3>Create a New Peer Assessment.</h3> 
        <div>
            <button><a href="{% url 'createPeerAssessment' %}"><font color="white">Create Assessment</font></a></button> 
        </div>
      </div></center>
      <br><br>
  
      <center><div>
          <h3>Choose a previous peer assessment to view its results.</h3> 
          <div>
              <select id="assessmentViewer" class="select-control" style="width: 500px;">
                {% for assess in pas %}
                <option value="class">{{ assess }}</option>
                {% endfor %}
              </select>
              <br><br>
          </div>
        </div>
  
      <button><a id = "pageSwitcher" href="{% url 'instructorResults' %}"><font color="white">Submit</font></a></button></center><br><br> 

      <center><div>
        <h3>Create or Change Teams</h3> 


      <button><a href="{% url 'makeTeams' %}"><font color="white">Make Teams</font></a></button></center>

  
      <!--<script type="module" src="js/instructorLP.js"></script>-->
    
  </body>


{% else %}





<head>
    <meta charset="utf-8">
    <title>Welcome, {{ object.fname }} {{ object.lname }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">
  </head>
  
  <body>
      <div class="flex-container">
          <nav>
            <a href="{% url 'logout' %}">logout</a>
          </nav>
          <br>
      </div>
  
      <div>
          <center><h1>Welcome to Your Student Page, {{ object.fname }} {{ object.lname }}</h1></center><br>
      </div>

      <ul>
        {% for team in teams %}
          <li>{{ team }}</li>
        {% endfor %}
      </ul>
  
      <div>
          <h3>Take a Peer Assessment</h3> 
          <form action = "{% url 'takePeerAssessment' %}">
          <select id="paTakeChoice" name="paTakeChoice">
            {% for team in teams %}
              {% for livePA in team.livePAs.all %}
              <option value="{{ livePA }}"> {{ livePA }}</option>
              {% endfor %}
            {% endfor %}
          </select>
          <input type = "submit" value = "Submit">
          </form>
          <!-- <button><a href="{% url 'takePeerAssessment' %}"><font color="white">Submit</font></a></button>  -->
          <br><br>
      </div>
  
      <div>
          <h3>View Your Results</h3> 
          <div>
              <select id="ranking-type" class="select-control">
                  <option value="Average Evaluation"></option>
                  <option value="Academic"><a href="createPeerAssessment.html">CSCI3356: Iteration 1</a></option>
              </select>
              <button><a href="{% url 'studentResults' %}"><font color="white">Submit</font></a></button>
              <br><br>
          </div>
      <div>
    
  </body>


<p><a href="{% url 'password_reset' %}">reset password</a></p>

{% endif %}

 <!--Log In Redirect  -->
{% else %}




  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

  <!-- <a href="{% url 'signup' %}">signup</a> -->
{% endif %}
{% endblock %}
