<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Delivery 2</title>
	
	<!-- Load CSS files -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>
<body>

	<div class="flex-container">
        <nav>
            <a href="{% url 'home' %}">Go Back </a>
        </nav>
        <br>
    </div>
	
	<div class="container">
		
		<h1>Peer Results Summary</h1>
        <h4>An aggregated representation of evaluated performance.</h4>
        
        <form action = "{% url 'instructorResults' %}">
            <select id="yourChoice" name="yourChoice">
                <option value="">All Students</option>
                <option selected disabled value="">Groups</option>
                <option value="2">SysTEAM</option>
                <option selected disabled value="">Names</option>
                <option value="Brennan">Brennan Nugent</option>
                <option value="Erin">Erin Berg</option>
                <option value="Cecilia">Cecilia Wu</option>
            </select>
            <input type = "submit" value = "Submit">
        </form>
		
        <table style="table-layout: fixed; width: 1050px">
            <tr>
              <th>Question</th>
              <th>Results</th>
            </tr>
            <tr>
              <td class="answerText">{{ pidOfAssess.question1Text }}</td>
              <td class="answerText">
                {% for item in ans1 %}
                  {{ item }},
                {% endfor %}
            </td>
              
            </tr>
            <tr>
              <td class="answerText">{{ pidOfAssess.question2Text }}</td>
              <td class="answerText">
                {% for item in ans2 %}
                  {{ item }},
                {% endfor %}
            </td>
            </tr>
            <tr>
              <td class="answerText">{{ pidOfAssess.question3Text }}</td>
              <td class="answerText">{{ sum3 }}</td>
            </tr>
            <tr>
                <td class="answerText">{{ pidOfAssess.question4Text }}</td>
                <td class="answerText">{{ sum4 }}</td>
              </tr>
              <tr>
                <td class="answerText">{{ pidOfAssess.question5Text }}</td>
                <td class="answerText">{{ sum5 }}</td>
              </tr>
              <tr>
                <td class="answerText">{{ pidOfAssess.question6Text }}</td>
                <td class="answerText">{{ sum6 }}</td>
              </tr>
              <tr>
                <td class="answerText">{{ pidOfAssess.question7Text }}</td>
                <td class="answerText">{{ sum7 }}</td>
              </tr>
              <tr>
                <td class="answerText">{{ pidOfAssess.question8Text }}</td>
                <td class="answerText">{{ sum8 }}</td>
              </tr>
              <tr>
                <td class="answerText">{{ pidOfAssess.question9Text }}</td>
                <td class="answerText">{{ sum9 }}</td>
              </tr>
              <tr>
                <td class="answerText">{{ pidOfAssess.question10Text }}</td>
                <td class="answerText">{{ sum10 }}</td>
              </tr>
          </table>
		
	</div>

	
	<!-- Your implementation -->
	<script type="module" src="js/instructorVisualization.js"></script>
	
</body>
{% endblock %}