<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
  <meta charset="utf-8">
  <title>Peer Assessment Results</title>

	<!-- Load CSS files -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

</head>

<body>
  <div class="flex-container">
    <nav>
        <a href="{% url 'home' %}">Go Back </a>
    </nav>
    <br>
  </div>

    <h1>Peer Assessment Results</h1>
    <h3 style="color: #9b4dca;">Here are your aggreggated results from students:</h3> 
    {% for ca in cas %}
    <h3 style="color: #9b4dca;">{{ ca }}</h3>
    {% endfor %}

    {{ a }}
    {{ pidOfAssess }}
    <div>

      <p><strong>1. {{ pidOfAssess.question1Text }}</strong></p>
      {% for item in ans1 %}
      <p class="answerText">{{ item }}</p>
      {% endfor %}


      <p><strong>2. {{ pidOfAssess.question2Text }}</strong></p>
      {% for item in ans2 %}
      <p class="answerText">{{ item }}</p>
      {% endfor %}

      <p><strong>3. {{ pidOfAssess.question3Text }}</strong></p>
      <p class="answerText">{{ sum3 }}</p>

      <p><strong>4. {{ pidOfAssess.question4Text }}</strong></p>
      <p class="answerText"> {{ sum4 }} </p>

      <p><strong>5. {{ pidOfAssess.question5Text }}</strong></p>
      <p class="answerText">{{ sum5 }}</p>

      <p><strong>6. {{ pidOfAssess.question6Text }}</strong></p>
      <p class="answerText">{{ sum6 }}</p>

      <p><strong>7. {{ pidOfAssess.question7Text }}</strong></p>
      <p class="answerText">{{ sum7 }}</p>

      <p><strong>8. {{ pidOfAssess.question8Text }}</strong></p>
      <p class="answerText">{{ sum8 }}</p>

      <p><strong>9. {{ pidOfAssess.question9Text }}</strong></p>
      <p class="answerText">{{ sum9 }}</p>

      <p><strong>10. {{ pidOfAssess.question10Text }}</strong></p>
      <p class="answerText">{{ sum10 }}</p>
    </div>
  
</body>

{% endblock %}