<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
  <meta charset="utf-8">
  <title>Peer Assessment</title>
  <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/fontawesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/milligram.min.css' %}">
</head>

<body>
    <div class="flex-container">
        <nav>
            <a href="{% url 'home' %}">Go Back </a>
        </nav>
        <br>
    </div>


    

    <div>
        <h1>Peer Assessment</h1>
        <h3>Please fill out the following peer assessment your team member</h3>
        <form action="{% url 'takePeerAssessment' %}" method="POST">{% csrf_token %}
        {{ form.evalStudent }}
    </div>

    <div>
        <div>
            <p>1. {{ object.question1Text }}</p>
            {{ form.answer1 }}
            <br><br>
        </div>
        <div>
            <p>2. {{ object.question2Text }}</p>
            {{ form.answer2 }}
            <br><br>
        </div>
        <div>
            <p>3. {{ object.question3Text }}</p>
            {{ form.answer3 }}
            <br><br>
        </div>
        <div>
            <p>4. {{ object.question4Text }}</p>
            {{ form.answer4 }}
            <br><br>
        </div>
        <div>
            <p>5. {{ object.question5Text }}</p>
            {{ form.answer5 }}
            <br><br>
        </div>
        <div>
            <p>6. {{ object.question6Text }}</p>
            {{ form.answer6 }}
            <br><br>
        </div>
        <div>
            <p>7. {{ object.question7Text }}</p>
            {{ form.answer7 }}
            <br><br>
        <div>
            <p>8. {{ object.question8Text }}</p>
            {{ form.answer8 }}
            <br><br>
        </div>
        <div>
            <p>9. {{ object.question9Text }}</p>
            {{ form.answer9 }}
            <br><br>
        </div>
        <div>
            <p>10. {{ object.question10Text }}</p>
            {{ form.answer10 }}
            <br><br>
        </div>

    </div>
    
    <form hidden action = "{% url 'takePeerAssessment' %}" method="POST">
        <select hidden id="p_id" name="p_id">
            <option hidden value="{{object.pid}}"> {{object.pid}}</option>
        </select>
        <button><a href="{% url 'home' %}"><font color="white"><input type = "hidden" value = "Submit">Submit</font></a></button> 
        </form>

    <button><a href="{% url 'home' %}"><font color="white">Cancel</font></a></button>
  
</body>

{% endblock %}